/* =Layout
----------------------------------------------- */
.site-main {
	@extend .row;
	.content-area {
		@extend .columns;
		@extend .small-12;
		@extend .large-9;
		body.error404 & {
			@extend .large-12;
		}
	}
	.widget-area {
		@extend .columns;
		@extend .small-12;
		@extend .large-3;
	}
}

/* =Comments form
----------------------------------------------- */

#commentform {
	p[class^="comment-form-"] {
		@extend .row;
		@extend .collapse;
		label {
			@include prefix-postfix-base;
			@include prefix;
			@include grid-column($columns:3,$float:left);
			text-align: left;
		}
		input, textarea {
			 @include grid-column($columns:9);
		}
		textarea {
			height: 10em;
		}
	}
	#submit {
		@extend .button;
	}
}

@media only screen and (orientation: portrait) {
	p[class^="comment-form-"] {
		label {
			font-size: 0.8em;
			@extend .columns;
			@extend .small-5;
		}
		input, textarea {
			@extend .columns;
			@extend .small-7;
		}
	}
}

